
/*@import "defaults.css";*/

/* Uncomment these to use Twitter Bootstrap */
/* @import "bootstrap.css"; */
/* @import "bootstrap-responsive.css"; */

/* Your styles here */
* {
  margin: 0px;
  padding: 0px;
  border: none;
  list-style: none;
}

body {
  position: relative;
  background: #2b2b2b;
  overflow: hidden;
  font: 10px/1.2em "Helvetica", Arial, sans-serif;
  color: #fff;
}
.page {
  width: 100%;
  position: relative;
  min-height: 100%;
  outline: 1px solid #333
}
.preview { position: relative;; }
.preview .content { position: relative; height: 75%; overflow-y: auto; overflow-x: hidden; }
.preview .nav { height: 25%; }
.preview .nav ul, .preview .nav li { height: 100%; }
/*.controls { background: black; height: 50px; width: 100%; position: fixed; }
.totalPrice { background: yellow; height: 50px; width: 100%; }*/

section:after, div:after, ul:after, li:after {content:"";height:0;display:block; overflow: hidden;font-size:0;clear:both;}
header {
  height: 28px;
  position:relative;
  background: #a2c35c;
  background-image: -webkit-linear-gradient(top, #a2c35c, #8aae3c);
  background-image:    -moz-linear-gradient(top, #a2c35c, #8aae3c);
  background-image:      -o-linear-gradient(top, #a2c35c, #8aae3c);
  background-image:         linear-gradient(to bottom, #a2c35c, #8aae3c);
  padding: 15px 0 15px 15px;
  font-size: 2em;
  color:#fff;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.2);
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
header .logo {
  position:absolute;
  z-index:10;
  top: 5px;
  left:15px;
  font-size:1.8em;
  font-weight: bolder;
  overflow:hidden;
  text-indent: -100%;
  display: block;
  background:transparent url(../img/logo-tripcalc.png) no-repeat 0 0;
  width:188px;
  height:50px;
}

.content {
  background: #2e3128 url(../img/bg.jpg) repeat 0 0;
}
.calc-list {
  /*overflow-y: scroll;*/
}
ul {
}

.calc-item {
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,.5);
  padding:20px;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.05));
  background-image:    -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.05));
  background-image:      -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.05));
  background-image:         linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.05));
}
.cur {
  position: absolute;
  top:20px;
  left:20px;
  color:#e7e7e7;
  font-size: 1.6em;
  line-height:1em;
}
.total {
  position: absolute;
  top:20px;
  left:20px;
  color:#fff;
  font-size: 2em;
  line-height:1em;
}
.value {
  display:block;
  color:#e7e7e7;
  font-size: 1.6em;
  line-height:1em;
  margin: 0 0 .2em 60px;
  outline: medium none;
}
.description {
  color:#666;
  font-size:1em;
  line-height:1em;
  display: block;
  letter-spacing: -.02em;
  margin-left: 60px;
  outline: medium none;
}
/* total */
.calc-total {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  border-top: 1px solid rgba(0,0,0,.8);
  padding:20px;
  background: #c3615c;
  box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5);
}
.calc-total .value {
  font-size:2em;
  font-weight: bolder;
  color:#fff;
  margin-left:100px;
}
.nav {
  position:absolute;
  right: 5px;
  top: 5px;
}
nav li {
  display:inline-block;
  margin-left:5px;
  text-align: center;
  color: #333;
  border: none;  
}
.icos a {
  position:relative;
  display:block;
  padding:15px 10px 13px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  background: #84a53d;
  box-shadow: inset 0 0 0 3px rgba(0,0,0,.3);
  text-shadow: 1px 1px 0 rgba(0,0,0,.4);
  border-radius: 6px;
}
.icos a:active {box-shadow: inset 0 0 0 3px rgba(255,255,255,1);}
.add {
}
.config {display: none;}

[contenteditable] {
  color: #ff7766;
  outline: medium none;
}

/* capa */
.capa {
  opacity:1;
  position:fixed;
  z-index:20;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: transparent url(../img/capa.jpg) no-repeat center center;
  background-size: 100% auto;
  -webkit-animation: capa .4s linear 2s forwards;
  -moz-animation: capa .4s linear 2s forwards;
  -o-animation: capa .4s linear 2s forwards;
  -ms-animation: capa .4s linear 2s forwards;
  animation: capa .4s linear 2s forwards;
}
@keyframes "capa" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    z-index:-1;
 }

}

@-moz-keyframes capa {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
   z-index:-1;
 }

}

@-webkit-keyframes "capa" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
   z-index:-1;
 }

}

@-ms-keyframes "capa" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   z-index:-1;
 }

}

@-o-keyframes "capa" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
   z-index:-1;
 }

}
